@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";

}<h2>Bölümler ve Yatak Durumu</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Bölüm</th>
            <th>Toplam Yatak</th>
            <th>Boş Yatak</th>
        </tr>
    </thead>
    <tbody>
        <!-- Example rows -->
        <tr>
            <td>Çocuk Acil</td>
            <td>30</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Çocuk Kardiyoloji</td>
            <td>25</td>
            <td>2</td>
        </tr>
    </tbody>
</table>
