@{
    ViewBag.Title = "Emergencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Acil Duyurular</h2>
<ul class="list-group">
    <li class="list-group-item list-group-item-danger">Acil: Bölümde yatak sayısı doldu!</li>
    <li class="list-group-item list-group-item-warning">Uyarı: Nöbet listesinde değişiklik yapıldı.</li>
    <li class="list-group-item list-group-item-info">Bilgilendirme: Yeni bölüm açıldı - Çocuk Onkoloji.</li>
</ul>
