@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Pediatri Asistan Nöbet Yönetimi</h1>
    <p class="lead">Hoşgeldiniz! Bu sistem pediatri asistanlarının nöbetlerini ve randevu takibini yapmanızı sağlar.</p>
    <hr class="my-4">
    <p>Aşağıdaki bölümlerden dilediğinizi seçin:</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Asistanlar</a>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Hocalar</a>
    <a class="btn btn-success btn-lg" href="#" role="button">Bölümler</a>
    <a class="btn btn-info btn-lg" href="#" role="button">Takvim</a>
</div>
