<div class="row">
    <div class="container">
        @if (User.IsInRole(Web_prog_Project.Utility.Helper.Admin))
        {
            <div class="row">
                <div class="col-4">
                    <h2>Shift</h2>
                </div>
                <div class="col-3 offset-5">
                    <a asp-controller="AssistantShift" asp-action="Create" class="btn-secondary form-control">Add Shift</a>
                </div>
            </div>
        }
        <div id="shiftCalendar"></div>
    </div>
</div>

<script>
        console.log(@Html.Raw(Json.Serialize(ViewData["Shifts"])));

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('shiftCalendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: @Html.Raw(Json.Serialize(ViewData["Shifts"]))  // Serialize the events from ViewData to JavaScript
        });
        calendar.render();
    });
</script>
